.adCard {
	@include cards;
	@include desktop {
		display: flex;
	}

	&__description {
		margin-bottom: 1rem;
		@include desktop {
			width: 80%;
		}

		&__header {
			margin-bottom: 1rem;
			@include desktop {
				display: flex;
				justify-content: space-between;
			}

			&__main {
				@include desktop {
					width: 70%;
				}

				&__title {
					font-size: 1.2rem;
					font-weight: bold;
					margin-bottom: 0.5rem;
					color: $color-main;
				}

				&__name {
					font-size: 1.1rem;
					font-style: italic;
					margin-bottom: 0.3rem;
					font-weight: bold;
				}
			}

			&__info {
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				margin-bottom: 0.5rem;

				@include desktop {
					align-items: flex-end;
				}
				
				&__localisation {
					display: flex;
					@include desktop {
						align-items: flex-end;
					}
				}

				&__date {
					font-size: 0.8rem;
					font-style: italic;
					color: $color-date;

					& span {
						font-size: 0.9rem;
					}
				}
			}
		}

		&__content {
			text-align: justify;
			font-style: oblique;
		}
	}

	&__btnContainer {
		display: flex;
		justify-content: space-around;
		@include desktop {
			flex-direction: column;
			margin: auto;
			gap: 1rem;
		}

		&__btn {
			@include btn;

			&--contact {
				@include btn-alt;
			}
		}
	}
}
