.createAd {
	@include with-page-desktop;
	padding: 1rem;
	width: 100%;

	&__title {
		@include page-title;
	}

	&__description {
		padding: 0 1rem;
		margin: 1rem 0;
		font-size: 1.1rem;
		font-style: oblique;
		text-align: center;
	}
}
