.createAd {
	margin: 1rem;

	&__title {
		font-size: 1.8rem;
		font-weight: bold;
	}

	&__description {
		padding: 0 1rem;
		margin: 1rem 0;
		font-size: 1.1rem;
		font-style: oblique;
		text-align: center;
	}
}
