.main-home {
	width: 100%;
	padding: 1.5rem;

	& .search-petsitters__form {
		@include desktop {
			width: 80%;
		}
	}

	&__description {
		font-size: 1.2rem;
		font-weight: bold;
		padding: 2rem 2rem 3rem;
		text-align: center;
		background-color: #eee;
	}
	@include desktop {
		@include width-page-desktop;
	}
}
