.main-home {
	&__description {
		font-size: 1.2rem;
		font-weight: bold;
		padding: 2rem 2rem 3rem;
		text-align: center;
		background-color: #eee;
	}
	@include desktop {
		max-width: 80%;
		margin: auto;
	}	
}

.search-petsitters {
	@include width-page-desktop;

	text-align: center;
	padding: 1.5rem;

	&__title {
		font-size: 1.1rem;
		font-weight: bold;
		margin-bottom: 1rem;
	}

	&__form {
		&__separator {
			margin-block: 1rem;
		}

		&__btn__submit {
			@include btn;
			background-color: $color-btn;
			color: white;
			width: 10rem;
		}

		&__btn__link {
			@include btn;
			background-color: $fontcolor-light;
			color: $color-btn;
			width: 10rem;
		}
	}

	&__results {
		font-size: 1.1rem;
		font-weight: bold;
		margin-bottom: 1rem;	
		padding-left: 1.5rem;
		@include desktop {
			padding-left: 0;
		}	
		
	}

}
