.identification {
	padding: 2rem 1rem;

	&__separator {
		margin: 1rem 0;
		position: relative;

		&__content {
			position: absolute;
			top: -0.5rem;
			width: 3rem;
			left: calc(50% - 1.5rem);
			padding: 0 1rem;
			background-color: white;
		}
	}
}
