.petsitter__card {
    border: $border-div;
    margin: 1rem;
    padding: 1rem;
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 1.2rem;
        font-weight: bold;

    }

    &__buttons {
        text-align: center;

        &__details {
            @include btn;
		    background-color: $color-btn;
		    color: white;
		    width: 9rem;
            margin-right: 1rem
        }

        &__contact {
            @include btn;
		    background-color: $fontcolor-light;
		    color: $color-btn;
		    width: 9rem;
		    margin: 1rem auto 1.5rem;
        }
    }
}