.profileAdCard {
    border: $border-div-main;
    padding: 1rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;

    &__title {
        color: $color-main;
        margin-bottom: 1rem;
    }

    &__content {

    }

}