.profileAdCard {
    border: 1px solid $color-main;
    padding: 1rem;
    border-radius: 0.4rem;
    &__title {
        color: $color-main;
        margin-bottom: 1rem;
    }

    &__content {

    }
}