.myAds {
	@include with-page-desktop;
	&__header {
		margin: 1rem;
		display: flex;
		justify-content: space-between;

		&__title {
			@include page-title;
		}

		&__add--mobile {
			margin-right: 0.5rem;
			color: $color-btn;
			@include desktop {
				display: none;
			}
		}

		&__add--desktop {
			display: none;
			@include desktop {
				display: block;
				margin: 1rem;

				&__btn {
					@include btn-with-icon;
				}
			}
		}
	}

	&__notFound {
		font-size: 1.2rem;
		padding: 1rem;
		font-style: oblique;
		color: $color-date;

		& p:first-child {
			font-size: 1.4rem;
			font-weight: 600;
		}

		& p span {
			color: $color-btn;
			margin: 0 0.4rem;
			position: relative;
			bottom: -0.4rem;
		}
	}
}
