.fieldArea {
	padding: 0.3rem 0;
	display: flex;
	flex-direction: column;
	position: relative;

	&__label {
		margin-bottom: 0.2rem;
		font-size: 0.9rem;
	}

	&__input {
		border: $border-main-color;
		border-radius: 0.2rem;
		padding: 0.5rem 0.5rem 1rem 0.5rem;
		min-height: 16rem;
		resize: vertical;
		@include inputplaceholder;
	}

	&__count {
		position: absolute;
		bottom: 0.5rem;
		right: 0.5rem;
		color: $fontcolor-medium;

		&--warning span {
			color: red;
		}
	}
}
