.fieldArea {
	padding: 0.3rem 0;
	display: flex;
	flex-direction: column;
	position: relative;

	&__label {
		font-size: 0.9rem;
		margin-bottom: 0.2rem;
	}

	&__input {
		border: 2px solid #ccc;
		border-radius: 0.2rem;
		font-size: 1rem;
		padding: 0.5rem 0.5rem 1rem 0.5rem;
		min-height: 16rem;
	}

	&__count {
		position: absolute;
		bottom: 0.5rem;
		right: 0.5rem;
		color: #7c7c7c;
		// padding: 0.5rem;

		&--warning span {
			color: red;
		}
	}
}
