.roleForm {
	padding: 1rem;
	margin-bottom: 0.5rem;

	&__title {
		font-size: 1.1rem;
		font-weight: bold;
		margin-bottom: 1rem;
	}

	&__switch {
		width: fit-content;
		margin: 0 auto 0.5rem;
	}

	&__checkbox {
		margin: 1rem 0;

		&__title {
			margin-bottom: 0.5rem;
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
}
//à changer
.conditionnal {
	background-color: $bgMedium;
}
