.profile {
	&__settings {
		padding: 1rem;
		&__title {
			font-size: 1.5rem;
			font-weight: bold;
			padding-left: 1rem;
		}

		&__input {
			display: flex;
			flex-direction: column;
			// flex-wrap: wrap;
			padding: 0.5rem 1rem;

			// & label {
			// 	display: block;
			// }

			& textarea {
				width: 100%;
			}

			& div {
				display: flex;
				// flex-direction: row;
			}
			// &__checkbox {
			// 	display: flex;
			// 	justify-content: flex-start;
			//
			// 	& input {
			// 		width: initial;
			// 	}
			// }
		}
	}
}

//à changer
.conditionnal {
	background-color: $bgMedium;
}
