.home {
	display: flex;
	flex-direction: column;

	&__description {
		font-size: 1.2rem;
		font-weight: bold;
		padding: 2rem 2rem 3rem;
		text-align: center;
		background-color: #eee;
	}

	&__separator {
		padding: 0 25%;
	}

	&__btn {
		@include btn-alt;
		// background-color: $fontcolor-light;
		// color: $color-btn;
		// width: 10rem;
		margin: 1rem auto 1.5rem;
	}
}
