.nav {
	@include desktop {
		width: 17rem;
		position: absolute;
		right: 0;
		z-index: 3;
		height: 1px;
	}
	&__link {
		line-height: 2.5rem;
		padding-left: 2rem;
		color: $fontcolor-dark;
		font-weight: bold;
		border-top: 1px solid $fontcolor-light;
		background-color: $bgMedium;
		display: block;
		@include desktop {
			transition: 500ms;
			&:last-child {
				border-radius: 0 0 0 0.5rem;
			}
			&:hover {
				color: darken($bgHeaderFooter, 15%);
			}
		}

		&--active {
			color: darken($bgHeaderFooter, 15%);
		}
	}
}
