@mixin btn {
	padding: 0.5rem;
	border: 1px solid $color-btn;
	border-radius: 0.5rem;
	width: 10rem;
	background-color: $color-btn;
	color: white;
	font-weight: bold;
}

@mixin btn-alt {
	padding: 0.5rem;
	border: 1px solid $color-btn;
	border-radius: 0.5rem;
	width: 10rem;
	background-color: white;
	color: $color-btn;
	font-weight: bold;
}

@mixin btn-large {
	padding: 0.5rem;
	border: 1px solid $color-btn;
	border-radius: 0.5rem;
	width: 100%;
	background-color: $color-btn;
	color: white;
	font-weight: bold;
}

@mixin btn-alt-large {
	padding: 0.5rem;
	border: 1px solid $color-btn;
	border-radius: 0.5rem;
	width: 100%;
	background-color: white;
	color: $color-btn;
	font-weight: bold;
}

@mixin btn-with-icon {
	@include btn;
	width: 13rem;
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

@mixin desktop {
	@media screen and (min-width: 600px) {
		@content;
	}
}

@mixin desktop_large {
	@media screen and (min-width: 1200px) {
		@content;
	}
}

@mixin cards {
	margin: 1rem;
	padding: 0.8rem;
	border: 2px solid lighten($color-main, 25%);
	box-shadow: 0.3rem 0.3rem 0.5rem $color-main;
}

@mixin inputplaceholder {
	&::placeholder {
		color: $fontcolor-medium;
		font-size: .9rem;
		font-family: 'Nunito', sans-serif;
	}
}
@mixin with-page-desktop {
	max-width: 1500px;
	margin: 0 auto;
}

@mixin page-title {
	font-size: 1.8rem;
	font-weight: bold;
}
