.field {
	padding: 0.3rem 0;
	display: flex;
	flex-direction: column;

	&__label {
		font-size: 0.9rem;
		margin-bottom: 0.2rem;
	}

	&__input {
		border: $border-main-color;
		border-radius: 0.2rem;
		padding: 0.5rem;
		@include inputplaceholder;
	}
}
