.header {
	background-color: $bgHeaderFooter;

	&__main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		@include desktop {
			padding: 1rem 2rem;
		}

		&__title {
			font-size: 1.3rem;
			font-weight: bold;
			color: $fontcolor-light;
		}

		&__icon {
			color: $bgLightGrey;
		}
	}

	&__logged {
		display: flex;
		align-items: center;
		gap: 2rem;

		&--btn {
			@include btn-alt;
			width: 15rem;
			display: none;
			@include desktop {
				display: block;
			}
		}
	}

	&__button {
		display: flex;
		gap: 1rem;
		&--petsitter {
			@include btn-alt;
			display: none;
			@include desktop {
				display: block;
			}
		}

		&--login {
			@include btn;
			@include desktop {
				margin-right: 2rem;
			}
		}
	}
}
