.createAccount {
	padding: 0 1rem 0.5rem;
	@include desktop {
		width: 30%;
		border-left: $border-main-color;
		padding-left: 3rem;
	}

	&__form .roleForm {
		background-color: lighten($color-main, 40%);
		margin: 0 0.5rem;
		max-width: 100%;
		border-radius: 1rem;

		&__switch {
			width: fit-content;
			margin: 0 auto 0.5rem;
		}

		&__checkbox {
			margin-bottom: 0;
			&__list {
				width: 100%;
				justify-content: space-around;
			}
		}
	}

	&__btn {
		@include btn;
		background-color: $color-btn;
		color: white;
		width: 100%;
		display: block;

		.profile & {
			@include desktop {
				width: auto !important;
				margin: 1.5rem auto 0 auto;
				padding-left: 3rem !important;
				padding-right: 3rem !important;
			}
		}
	}

	&__title {
		font-size: 1.2rem;
		font-weight: bold;
		margin-bottom: 0.5rem;
		color: $color-main;
	}

	&__btn--continue {
		@include btn-alt-large;
		margin-top: 0.8rem;
	}

	&__fieldset {
		margin: 1rem 0;
		border: lighten($color-main, 25%);
		border-style: double;
		padding: 0.2rem 0.4rem 0.8rem;

		&__legend {
			font-weight: bold;
			margin-bottom: 0.5rem;
			padding: 0 0.4rem;
		}

		&__separator {
			margin: 0.5rem 0;
			font-size: 0.9rem;
			color: $fontcolor-medium;
		}
	}
	&__policy {
		font-size: 0.9rem;
		line-height: 1.5rem;
		margin-top: 1rem;
	}

	&__error {
		color: red;
		font-size: 0.9rem;
		margin-top: 0.1rem;
		font-style: italic;
	}

	&__btn {
		@include btn-large;
		margin-top: 1rem;
	}
}
