.createAccount {
	padding: 0 1rem;

	&__title {
		font-size: 1.1rem;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}

	&__btn {
		@include btn;
		background-color: $color-btn;
		color: white;
		margin-top: 0.8rem;
		width: 100%;

		&--continue {
			background-color: white;
			color: $color-btn;
		}
	}

	&__fieldset {
		margin: 1rem 0;

		&__legend {
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		&__separator {
			margin: 0.5rem 0;
			font-size: .9rem;
		}
	}
	&__policy {
		font-size: 0.8rem;
		line-height: 1.5rem;
	}

	&__error {
		color: red;
		font-size: 0.9rem;
		margin-top: 0.1rem;
		font-style: italic;
	}
}
