.MyProfile {
	& h1 {
		font-size: 1.5rem;
    font-weight: 700;
		margin-bottom: .5rem;
	}
}

.profile {
	@include maxwidth;
	&__pets {
		@include maxwidth;
		padding: 1rem;
		&__header {
			display: flex;
			justify-content: space-between;
			margin-bottom: 1rem;
			// &__title {
			// 	font-size: 1.5rem;
			// 	font-weight: bold;
			// }
		}

		&__item {
			border: $border-div;
			padding: 1rem;

			&__top {
				display: flex;
				justify-content: space-between;
			}

			&__info {
				display: flex;
			}

			&__description {
				font-size: .9rem
			}
		}
	}
	
	&__ads {
		@include maxwidth;
		padding: 1rem;
		& a {
			display: block;
		 	&:not(:last-child) {
				margin-bottom: .5rem;
			}
		}
		&__btn {
			&--add {
				@include btn-large;
			}
			&--disp {
				@include btn-alt-large;
			}
		}
		
	}
	
	&__delete {
		@include maxwidth;
		padding: 1rem;

		&__btn {
			@include btn;
			width: 100%;
			color: white;
			background-color: $color-btn;

			&--confirm {
				background-color: #f0f;
				font-weight: bold;

				transition: box-shadow 2s;
				animation-duration: 1s;
				animation-name: shadow;
				animation-iteration-count: infinite;
				animation-direction: alternate;

				@keyframes shadow {
					from {
						box-shadow: none;
					}
					to {
						box-shadow: 0 0 3rem #f0f;
					}
				}
			}
		}
	}
}
