.profile {


    &__settings {
        padding: 1rem;
        &__title {
            font-size: 1.5rem;
            font-weight: bold;
            padding-left: 1rem;
        }

        &__input {
            display: block;
            flex-direction: column;
            padding: 0.5rem 1rem;

            & label {
                display: block;
            }

            & input, textarea {
                width: 100%;
            }

            &__checkbox {
                display: flex;
                justify-content: flex-start;
                
                & input {
                    width : initial;
                }
            }

            
        }
    }

    &__pets {
        padding: 1rem;
        &__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            &__title {
                font-size: 1.5rem;
                font-weight: bold;
                padding-left: 1rem;
                
            }
        }

        &__item {
            border: $border-div;
            padding: 1rem;
        }
    }
}