.profile {

    &__pets {
        padding: 1rem;
        &__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            &__title {
                font-size: 1.5rem;
                font-weight: bold;
                padding-left: 1rem;
                
            }
        }

        &__item {
            border: $border-div;
            padding: 1rem;
        }
    }
}