.footer {
	margin-top: auto;
	background-color: $bgHeaderFooter;
	padding: 1rem;

	&__nav {
		display: flex;
		justify-content: space-around;

		&__item {
			line-height: 1.5rem;
			display: block;
		}
	}
}
