.myAdCard {
	@include cards;
	@include desktop {
		display: flex;
		flex-direction: column;
	}

	&__header {
		margin-bottom: 1rem;
		display: flex;
		gap: 1rem;

		&__description {
			width: 85%;

			&__title {
				font-size: 1.2rem;
				font-weight: bold;
				margin-bottom: 0.5rem;
				color: $color-main;
			}

			&__name {
				font-size: 1.1rem;
				font-style: italic;
				margin-bottom: 0.3rem;
			}

			&__localisation {
				display: flex;
				align-items: flex-end;
				margin-bottom: 0.5rem;
			}

			&__date {
				font-size: 0.8rem;
				font-style: italic;
				color: $color-date;

				& span {
					font-size: 0.9rem;
				}
			}
		}

		&__btns {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			color: $color-btn;

			&--delete {
				color: #f0f;
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 50%;
				text-align: center;
				transition: box-shadow 2s;
				animation-duration: 1s;
				animation-name: shadow;
				animation-iteration-count: infinite;
				animation-direction: alternate;
			}
		}
	}

	&__content {
		text-align: justify;
		font-style: oblique;
		@include desktop {
			width: 80%;
		}
	}
}
