.PublicProfile {
    padding: 1rem;
    @include desktop {
        width: 80%;
        margin: auto;
    }
}

.profile {
    
    &__user {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        height: 7rem;

        &__infos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding-bottom: 1rem;    
        }

        &__name {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0.4rem;
        }
        
        &__location{
            margin-bottom: 0.2rem;

            &__icon {
                color: $color-second;
                margin-right: 0.3rem;
                margin-bottom: -0.2rem;
            }
        }

        &__email{
            margin-bottom: 0.2rem;
            &__icon {
                color: $color-btn;
                margin-right: 0.3rem;
                margin-bottom: -0.2rem;
            }
        }

        &__right {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &__button{
                @include btn;
                
                &__icon {
                    margin-bottom: -0.1rem;
                    margin-right: 0.3rem;
                }
            }

            &__tags {
                display: flex;
                justify-content: space-around;

            }
        }

        &__description {
            margin: 1rem 0;
            font-style: italic;
        }
    }
}

.pets {

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__item{
        margin-bottom: 1rem;
    }
}

.ads {

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
    }
}