.become-petsitter {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 15rem;
	background-image: url('../../assets/chien-basenji-intelligent-sympathique-donnant-sa-patte-close-up-isolated-on-white.jpg');
	background-size: cover;
	background-position: center;

	&__title {
		font-size: 1.1rem;
		font-weight: bold;
		width: 50%;
	}

	&__btn {
		@include btn;
		background-color: $color-btn;
		color: white;
		width: 10rem;
	}
}
