.ads {
	@include with-page-desktop;
	&__header {
		margin: 1rem;

		&__title {
			@include page-title;
		}

		&__filter {
			padding: 1rem 1rem 1rem 2rem;
			display: flex;
			align-items: center;
			gap: 1rem;
			@include desktop {
				max-width: 600px;
				margin: auto;
				gap: 2rem;
			}

			&__reset {
				color: $color-main;
			}
		}
	}
}
