.ads {
	max-width: 1500px;
	margin: auto;
	&__header {
		margin: 1rem;

		&__title {
			font-size: 1.8rem;
			font-weight: bold;
		}

		&__filter {
			padding: 1rem 1rem 1rem 2rem;
			display: flex;
			align-items: center;
			gap: 1rem;
			@include desktop {
				max-width: 600px;
				margin: auto;
				gap: 2rem;
			}

			&__reset {
				color: $color-main;
			}
		}
	}
}
