.ads {
	&__header {
		margin: 1rem;

		&__title {
			font-size: 1.8rem;
			font-weight: bold;
		}

		&__filter {
			padding: 1rem 2rem;
		}

		&__count {
			font-size: 1.2rem;
			font-weight: bold;
		}
	}
}
