.card {
    border: 1px solid $color-main;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.4rem;

        &__header {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 1rem;
            &__title {
                font-weight: bold;
                padding-top: 1rem;
            }
        }

        &__item {
            

            &__top {
                display: flex;
                justify-content: space-between;
            }

            &__info {
                display: flex;
                flex-direction: column;
            }
        }
    
}

.peticon__title--white p{
    color: white;
}

.peticon__title--black p{
    color: black;
}