.card {
    border: $border-div;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.4rem;

        &__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            &__title {
                font-size: 1.5rem;
                font-weight: bold;
                padding-left: 1rem;
                
            }
        }

        &__item {
            

            &__top {
                display: flex;
                justify-content: space-between;
            }

            &__info {
                display: flex;
            }
        }
    
}